h1{
    font-size: 2em;
    font-weight:bold;
    text-align: center;
    margin-bottom:50px;
}
h2{
    font-size: 1.25em;
    font-style: italic;
}
h2, div{
    font-family: Arial;
    margin:25px;
}
#score{
    font-weight:bold;
    margin:25px;
}

ol{
    display: block;
    list-style-type: decimal;
    margin: 1em 0;
    padding-left: 40px;
}
ul{
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
li{
    margin: 5px;
}